pipeline/pl_copy_data.json
{
	"name": "pl_copy_data",
	"properties": {
		"activities": [
			{
				"name": "metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "checking if file exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "datasource",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size",
						"contentMD5"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "checking the count1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('metadata1').output.columncount,5)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "datasource",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@pipeline().parameters.Filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "targetblb",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "checking if file exist",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "datasource",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			},
			{
				"name": "deleeting file once it loaded target",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "checking the count1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "datasource",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "blbstrgls",
							"type": "LinkedServiceReference"
						},
						"path": "source"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"Filename": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-03T03:58:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}